vendor/
_site/
.sass-cache/
.jekyll-metadata
#Gemfile.lock

# webstorm
.idea/

# others
*.swp
package-lock.json
node_modules/
.DS_Store
.jekyll-cache/

# site build
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor
Gemfile.lock
node_modules
